In [2]:
#preprocess and extract features (train set)
import pandas as pd
import numpy as np
df = pd.read_csv(r'E:\BT\train_dataset.csv')

In [54]:
df

,price_vnd,sim_number,provider,same_of_a_kind,straight,same_of_a_kind_middle,straight_middle,fortune,wealth,land,taxi,birth_date,mirror,legacy,memorable,reserve,reserve_middle,repeat,last_number
0,450000,343189288,viettel,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8
1,3000000,888899580,vinaphone,0,0,4,0,0,0,0,0,0,0,0,0,0,0,0,0
2,500000,928960006,vietnamobile,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,6
3,5000000,902438679,mobifone,0,0,0,0,0,2,0,0,0,0,1,0,0,0,0,9
4,450000,334307889,viettel,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,450000,866161769,viettel,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9
199996,1000000,708124126,mobifone,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,6
199997,1000000,904755200,mobifone,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
199998,450000,329220204,viettel,0,0,0,0,0,0,0,0,6,0,0,0,0,0,0,4
199999,1000000,904760321,mobifone,0,0,0,0,0,0,0,0,0,0,1,0,3,0,0,1

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns

df['fortune'].value_counts()

df.isna().mean().round(4) * 100

In [5]:
df.describe().apply(lambda s: s.apply('{0:.1f}'.format))

            price_vnd   sim_number
count        200000.0     200000.0
mean       13950269.8  730479740.9
std       591299676.8  240647935.3
min           99000.0  325009779.0
25%          500000.0  392260526.0
50%         1000000.0  833428672.5
75%         5000000.0  918087387.5
max    168000000000.0  997979696.0

In [6]:
df = df.astype({'sim_number': 'str'})

In [7]:
df.loc[df['price_vnd'] == df['price_vnd'].max()]

          price_vnd sim_number
58592  168000000000  382268888

In [8]:
df1 = df.sort_values(by=['price_vnd'])
df1

           price_vnd sim_number
195633         99000  359928519
186055         99000  379273658
34548          99000  358895619
35342          99000  356118916
167068         99000  335662936
...              ...        ...
22927    45000000000  777777777
58657    49000000000  896883888
73111    55000000000  896898999
165571  165000000000  896886886
58592   168000000000  382268888

[200000 rows x 2 columns]

In [53]:
df[df['memorable']==3]

,price_vnd,sim_number,provider,same_of_a_kind,straight,same_of_a_kind_middle,straight_middle,fortune,wealth,land,taxi,birth_date,mirror,legacy,memorable,reserve,reserve_middle,repeat,last_number
303,5000000,937848838,mobifone,0,0,0,0,0,0,1,0,0,0,0,3,0,0,0,8
416,3000000,568569579,vietnamobile,0,0,0,0,0,2,0,0,0,0,0,3,0,0,0,9
417,450000,332160170,viettel,0,0,0,0,0,0,0,0,6,0,0,3,0,3,0,0
422,12000000,909386336,mobifone,0,0,0,0,0,0,0,0,0,2,1,3,0,0,0,6
610,1000000,902206266,mobifone,0,0,0,0,0,0,0,0,0,0,1,3,0,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199766,15000000,814032012,vinaphone,0,3,0,0,0,0,0,0,8,0,0,3,0,0,0,2
199794,5000000,919582592,vinaphone,0,0,0,0,0,0,0,0,0,0,1,3,0,0,0,2
199807,11900000,798818868,mobifone,0,0,0,0,1,0,0,0,0,0,0,3,0,0,0,8
199952,3000000,982399329,viettel,0,0,0,0,0,0,0,0,0,0,1,3,0,0,0,9
199964,3000000,911994944,vinaphone,0,0,0,0,0,0,0,0,0,0,1,3,0,0,0,4

In [9]:
df['provider'] = ""

In [10]:
df['same_of_a_kind']=""

In [11]:
df['straight']=""

In [12]:
df['same_of_a_kind_middle']=""

In [13]:
df['straight_middle']=""

In [14]:
df['fortune']=""

In [15]:
df['wealth']=""

In [16]:
df['land']=""

In [17]:
df['taxi']=""

In [18]:
df['birth_date']=""

In [19]:
df['mirror']=""

In [20]:
df['legacy']=""

In [21]:
df['memorable']=""

In [22]:
df['reserve']=""

In [23]:
df['reserve_middle']=""

In [24]:
df['repeat']=""

In [25]:
for x in df.index:
    if df.iloc[x].sim_number[0:2] in ('32','33','34','35','36','37','38','39','97','98','96','86'):
        df.at[x,'provider'] = 'viettel'
    if df.iloc[x].sim_number[0:2] in ('70','76','77','78','79','89','90','93'):
        df.at[x,'provider'] = 'mobifone'
    if df.iloc[x].sim_number[0:2] in ('81','82','83','84','85','88','91','94'):
        df.at[x,'provider'] = 'vinaphone'
    if df.iloc[x].sim_number[0:2] in ('56','58','92','52'):
        df.at[x,'provider'] = 'vietnamobile'
    if df.iloc[x].sim_number[0:2] in ('59','99'):
        df.at[x,'provider'] = 'gmobile'
    if df.iloc[x].sim_number[0:2] in ('87'):
        df.at[x,'provider'] = 'itelecom'

In [26]:
df['last_number'] = df['sim_number'].str.slice(start=8, stop=9)

In [27]:
for x in df.index:
    if df.iloc[x].sim_number[0:9] in ('000000000','111111111','222222222','333333333','444444444','555555555','666666666','777777777','888888888','999999999'):
        df.at[x,'same_of_a_kind'] = 9
    elif df.iloc[x].sim_number[1:9] in ('00000000','11111111','22222222','33333333','44444444','55555555','66666666','77777777','88888888','99999999'):
        df.at[x,'same_of_a_kind'] = 8
    elif df.iloc[x].sim_number[2:9] in ('0000000','1111111','2222222','3333333','4444444','5555555','6666666','7777777','8888888','9999999'):
        df.at[x,'same_of_a_kind'] = 7
    elif df.iloc[x].sim_number[3:9] in ('000000','111111','222222','333333','444444','555555','666666','777777','888888','999999'):
        df.at[x,'same_of_a_kind'] = 6
    elif df.iloc[x].sim_number[4:9] in ('00000','11111','22222','33333','44444','55555','66666','77777','88888','99999'):
        df.at[x,'same_of_a_kind'] = 5
    elif df.iloc[x].sim_number[5:9] in ('0000','1111','2222','3333','4444','5555','6666','7777','8888','9999'):
        df.at[x,'same_of_a_kind'] = 4
    elif df.iloc[x].sim_number[6:9] in ('000','111','222','333','444','555','666','777','888','999'):
        df.at[x,'same_of_a_kind'] = 3
    else:
        df.at[x,'same_of_a_kind'] = 0

In [28]:
for x in df.index:
    if df.iloc[x].sim_number[1:9] in ('01234567','12345678','23456789'):
        df.at[x,'straight'] = 8
    elif df.iloc[x].sim_number[2:9] in ('0123456','1234567','2345678','3456789'):
        df.at[x,'straight'] = 7
    elif df.iloc[x].sim_number[3:9] in ('012345','123456','234567','345678','456789'):
        df.at[x,'straight'] = 6
    elif df.iloc[x].sim_number[4:9] in ('01234','12345','23456','34567','45678','56789'):
        df.at[x,'straight'] = 5
    elif df.iloc[x].sim_number[5:9] in ('0123','1234','2345','3456','4567','5678','6789'):
        df.at[x,'straight'] = 4
    elif df.iloc[x].sim_number[6:9] in ('012','123','234','345','456','567','678','789'):
        df.at[x,'straight'] = 3
    else:
        df.at[x,'straight'] = 0

In [29]:
for x in df.index:
    if df.iloc[x].sim_number[1:9] in ('98765432','87654321','76543210'):
        df.at[x,'reserve'] = 8
    elif df.iloc[x].sim_number[2:9] in ('9876543','8765432','7654321','6543210'):
        df.at[x,'reserve'] = 7
    elif df.iloc[x].sim_number[3:9] in ('987654','876543','765432','654321','543210'):
        df.at[x,'reserve'] = 6
    elif df.iloc[x].sim_number[4:9] in ('98765','87654','76543','65432','54321','43210'):
        df.at[x,'reserve'] = 5
    elif df.iloc[x].sim_number[5:9] in ('9876','8765','7654','6543','5432','4321','3210'):
        df.at[x,'reserve'] = 4
    elif df.iloc[x].sim_number[6:9] in ('987','876','765','654','543','432','321','210'):
        df.at[x,'reserve'] = 3
    else:
        df.at[x,'reserve'] = 0

In [30]:
for x in df.index:
    if '9876543' in df.iloc[x].sim_number[0:8] or '8765432' in df.iloc[x].sim_number[0:8] or '7654321' in df.iloc[x].sim_number[0:8] or '6543210' in df.iloc[x].sim_number[0:8]:
        df.at[x,'reserve_middle'] = 7
    elif '987654' in df.iloc[x].sim_number[0:8] or '876543' in df.iloc[x].sim_number[0:8] or '765432' in df.iloc[x].sim_number[0:8] or '654321' in df.iloc[x].sim_number[0:8] or '543210' in df.iloc[x].sim_number[0:8]:
        df.at[x,'reserve_middle'] = 6
    elif '98765' in df.iloc[x].sim_number[0:8] or '87654' in df.iloc[x].sim_number[0:8] or '76543' in df.iloc[x].sim_number[0:8] or '65432' in df.iloc[x].sim_number[0:8] or '54321' in df.iloc[x].sim_number[0:8] or '43210' in df.iloc[x].sim_number[0:8]:
        df.at[x,'reserve_middle'] = 5
    elif '9876' in df.iloc[x].sim_number[0:8] or '8765' in df.iloc[x].sim_number[0:8] or '7654' in df.iloc[x].sim_number[0:8] or '6543' in df.iloc[x].sim_number[0:8] or '5432' in df.iloc[x].sim_number[0:8] or '4321' in df.iloc[x].sim_number[0:8] or '3210' in df.iloc[x].sim_number[0:8]:
        df.at[x,'reserve_middle'] = 4
    elif '987' in df.iloc[x].sim_number[0:8] or '876' in df.iloc[x].sim_number[0:8] or '765' in df.iloc[x].sim_number[0:8] or '654' in df.iloc[x].sim_number[0:8] or '543' in df.iloc[x].sim_number[0:8] or '432' in df.iloc[x].sim_number[0:8] or '321' in df.iloc[x].sim_number[0:8] or '210' in df.iloc[x].sim_number[0:8]:
        df.at[x,'reserve_middle'] = 3
    else:
        df.at[x,'reserve_middle'] = 0

In [31]:
for x in df.index:
    if '00000000' in df.iloc[x].sim_number[0:8] or '11111111' in df.iloc[x].sim_number[0:8] or '22222222' in df.iloc[x].sim_number[0:8] or '33333333' in df.iloc[x].sim_number[0:8] or '44444444' in df.iloc[x].sim_number[0:8] or '55555555' in df.iloc[x].sim_number[0:8] or '66666666' in df.iloc[x].sim_number[0:8] or '77777777' in df.iloc[x].sim_number[0:8] or '88888888' in df.iloc[x].sim_number[0:8] or '99999999' in df.iloc[x].sim_number[0:8]:
        df.at[x,'same_of_a_kind_middle'] = 8
    elif '0000000' in df.iloc[x].sim_number[0:8] or '1111111' in df.iloc[x].sim_number[0:8] or '2222222' in df.iloc[x].sim_number[0:8] or '3333333' in df.iloc[x].sim_number[0:8] or '4444444' in df.iloc[x].sim_number[0:8] or '5555555' in df.iloc[x].sim_number[0:8] or '6666666' in df.iloc[x].sim_number[0:8] or '7777777' in df.iloc[x].sim_number[0:8] or '8888888' in df.iloc[x].sim_number[0:8] or '9999999' in df.iloc[x].sim_number[0:8]:
        df.at[x,'same_of_a_kind_middle'] = 7
    elif '000000' in df.iloc[x].sim_number[0:8] or '111111' in df.iloc[x].sim_number[0:8] or '222222' in df.iloc[x].sim_number[0:8] or '333333' in df.iloc[x].sim_number[0:8] or '444444' in df.iloc[x].sim_number[0:8] or '555555' in df.iloc[x].sim_number[0:8] or '666666' in df.iloc[x].sim_number[0:8] or '777777' in df.iloc[x].sim_number[0:8] or '888888' in df.iloc[x].sim_number[0:8] or '999999' in df.iloc[x].sim_number[0:8]:
        df.at[x,'same_of_a_kind_middle'] = 6
    elif '00000' in df.iloc[x].sim_number[0:8] or '11111' in df.iloc[x].sim_number[0:8] or '22222' in df.iloc[x].sim_number[0:8] or '33333' in df.iloc[x].sim_number[0:8] or '44444' in df.iloc[x].sim_number[0:8] or '55555' in df.iloc[x].sim_number[0:8] or '66666' in df.iloc[x].sim_number[0:8] or '77777' in df.iloc[x].sim_number[0:8] or '88888' in df.iloc[x].sim_number[0:8] or '99999' in df.iloc[x].sim_number[0:8]:
        df.at[x,'same_of_a_kind_middle'] = 5
    elif '0000' in df.iloc[x].sim_number[0:8] or '1111' in df.iloc[x].sim_number[0:8] or '2222' in df.iloc[x].sim_number[0:8] or '3333' in df.iloc[x].sim_number[0:8] or '4444' in df.iloc[x].sim_number[0:8] or '5555' in df.iloc[x].sim_number[0:8] or '6666' in df.iloc[x].sim_number[0:8] or '7777' in df.iloc[x].sim_number[0:8] or '8888' in df.iloc[x].sim_number[0:8] or '9999' in df.iloc[x].sim_number[0:8]:
        df.at[x,'same_of_a_kind_middle'] = 4
    elif '000' in df.iloc[x].sim_number[0:8] or '111' in df.iloc[x].sim_number[0:8] or '222' in df.iloc[x].sim_number[0:8] or '333' in df.iloc[x].sim_number[0:8] or '444' in df.iloc[x].sim_number[0:8] or '555' in df.iloc[x].sim_number[0:8] or '666' in df.iloc[x].sim_number[0:8] or '777' in df.iloc[x].sim_number[0:8] or '888' in df.iloc[x].sim_number[0:8] or '999' in df.iloc[x].sim_number[0:8]:
        df.at[x,'same_of_a_kind_middle'] = 3
    else:
        df.at[x,'same_of_a_kind_middle'] = 0

In [32]:
for x in df.index:
    if '0123456' in df.iloc[x].sim_number[0:8] or '1234567' in df.iloc[x].sim_number[0:8] or '2345678' in df.iloc[x].sim_number[0:8] or '3456789' in df.iloc[x].sim_number[0:8]:
        df.at[x,'straight_middle'] = 7
    elif '012345' in df.iloc[x].sim_number[0:8] or '123456' in df.iloc[x].sim_number[0:8] or '234567' in df.iloc[x].sim_number[0:8] or '345678' in df.iloc[x].sim_number[0:8] or '456789' in df.iloc[x].sim_number[0:8]:
        df.at[x,'straight_middle'] = 6
    elif '01234' in df.iloc[x].sim_number[0:8] or '12345' in df.iloc[x].sim_number[0:8] or '23456' in df.iloc[x].sim_number[0:8] or '34567' in df.iloc[x].sim_number[0:8] or '45678' in df.iloc[x].sim_number[0:8] or '56789' in df.iloc[x].sim_number[0:8]:
        df.at[x,'straight_middle'] = 5
    elif '0123' in df.iloc[x].sim_number[0:8] or '1234' in df.iloc[x].sim_number[0:8] or '2345' in df.iloc[x].sim_number[0:8] or '3456' in df.iloc[x].sim_number[0:8] or '4567' in df.iloc[x].sim_number[0:8] or '5678' in df.iloc[x].sim_number[0:8] or '6789' in df.iloc[x].sim_number[0:8]:
        df.at[x,'straight_middle'] = 4
    elif '012' in df.iloc[x].sim_number[0:8] or '123' in df.iloc[x].sim_number[0:8] or '234' in df.iloc[x].sim_number[0:8] or '345' in df.iloc[x].sim_number[0:8] or '456' in df.iloc[x].sim_number[0:8] or '567' in df.iloc[x].sim_number[0:8] or '678' in df.iloc[x].sim_number[0:8] or '789' in df.iloc[x].sim_number[0:8]:
        df.at[x,'straight_middle'] = 3
    else:
        df.at[x,'straight_middle'] = 0

In [33]:
for x in df.index:
    if df.iloc[x].sim_number[7:9] in ('68','86'):
        df.at[x,'fortune'] = 1
    else:
        df.at[x,'fortune'] = 0

In [34]:
for x in df.index:
    if df.iloc[x].sim_number[7:9] == '39':
        df.at[x,'wealth'] = 1
    elif df.iloc[x].sim_number[7:9] == '79':
        df.at[x,'wealth'] = 2
    else:
        df.at[x,'wealth'] = 0

In [35]:
for x in df.index:
    if df.iloc[x].sim_number[7:9] == '38':
        df.at[x,'land'] = 1
    elif df.iloc[x].sim_number[7:9] == '78':
        df.at[x,'land'] = 2
    else:
        df.at[x,'land'] = 0

In [46]:
for x in df.index:
    if df.iloc[x].sim_number[7:9] == df.iloc[x].sim_number[5:7] and df.iloc[x].sim_number[5:7] == df.iloc[x].sim_number[3:5] and df.iloc[x].sim_number[3:5] == df.iloc[x].sim_number[1:3]:
        df.at[x,'taxi'] = 7
    elif df.iloc[x].sim_number[7:9] == df.iloc[x].sim_number[5:7] and df.iloc[x].sim_number[5:7] == df.iloc[x].sim_number[3:5]:
        df.at[x,'taxi'] = 4
    elif df.iloc[x].sim_number[7:9] == df.iloc[x].sim_number[5:7]:
        df.at[x,'taxi'] = 1
    elif df.iloc[x].sim_number[6:9] == df.iloc[x].sim_number[3:6] and df.iloc[x].sim_number[3:6] == df.iloc[x].sim_number[0:3]:
        df.at[x,'taxi'] = 8
    elif df.iloc[x].sim_number[6:9] == df.iloc[x].sim_number[3:6]:
        df.at[x,'taxi'] = 5
    elif df.iloc[x].sim_number[5:9] == df.iloc[x].sim_number[1:5]:
        df.at[x,'taxi'] = 6
    elif df.iloc[x].sim_number[3] == df.iloc[x].sim_number[5] and df.iloc[x].sim_number[5] == df.iloc[x].sim_number[7]:
        df.at[x,'taxi'] = 3
    elif df.iloc[x].sim_number[4] == df.iloc[x].sim_number[6] and df.iloc[x].sim_number[6] == df.iloc[x].sim_number[8]:
        df.at[x,'taxi'] = 2
    else:
        df.at[x,'taxi'] = 0

In [37]:
for x in df.index:
    if int(df.iloc[x].sim_number[5:9])>1970 and int(df.iloc[x].sim_number[5:9])<2020 and int(df.iloc[x].sim_number[3:5])>0 and int(df.iloc[x].sim_number[3:5])<13 and int(df.iloc[x].sim_number[1:3])>0 and int(df.iloc[x].sim_number[1:3])<32:
        df.at[x,'birth_date'] = 8
    elif int(df.iloc[x].sim_number[7:9])>=70 and int(df.iloc[x].sim_number[7:9])<99 and int(df.iloc[x].sim_number[5:7])>0 and int(df.iloc[x].sim_number[5:7])<13 and int(df.iloc[x].sim_number[3:5])>0 and int(df.iloc[x].sim_number[3:5])<32:
        df.at[x,'birth_date'] = 6
    elif int(df.iloc[x].sim_number[7:9])>=0 and int(df.iloc[x].sim_number[7:9])<21 and int(df.iloc[x].sim_number[5:7])>0 and int(df.iloc[x].sim_number[5:7])<13 and int(df.iloc[x].sim_number[3:5])>0 and int(df.iloc[x].sim_number[3:5])<32:
        df.at[x,'birth_date'] = 6
    elif int(df.iloc[x].sim_number[5:9])>1970 and int(df.iloc[x].sim_number[5:9])<2020:
        df.at[x,'birth_date'] = 6
    else:
        df.at[x,'birth_date'] = 0

In [38]:
for x in df.index:
    if df.iloc[x].sim_number[5:9] == df.iloc[x].sim_number[1:5][::-1]:
        df.at[x,'mirror'] = 4
    elif df.iloc[x].sim_number[6:9] == df.iloc[x].sim_number[3:6][::-1]:
        df.at[x,'mirror'] = 3
    elif df.iloc[x].sim_number[7:9] == df.iloc[x].sim_number[5:7][::-1]:
        df.at[x,'mirror'] = 2
    else:
        df.at[x,'mirror'] = 0

In [39]:
for x in df.index:
    if df.iloc[x].sim_number[0:2] in ('90','91','98','97'):
        df.at[x,'legacy'] = 1
    else:
        df.at[x,'legacy'] = 0

In [40]:
for x in df.index:
    if df.iloc[x].sim_number[3:5] == df.iloc[x].sim_number[6:8]:
        df.at[x,'memorable'] = 1
    elif df.iloc[x].sim_number[4:6] == df.iloc[x].sim_number[7:9]:
        df.at[x,'memorable'] = 2
    elif df.iloc[x].sim_number[3] == df.iloc[x].sim_number[6]and df.iloc[x].sim_number[5] == df.iloc[x].sim_number[8] :
        df.at[x,'memorable'] = 3
    else:
        df.at[x,'memorable'] = 0

In [41]:
for x in df.index:
    if df.iloc[x].sim_number[5] == df.iloc[x].sim_number[6] and df.iloc[x].sim_number[7] == df.iloc[x].sim_number[8] and df.iloc[x].sim_number[3] == df.iloc[x].sim_number[4]:
        df.at[x,'repeat'] = 2
    elif df.iloc[x].sim_number[5] == df.iloc[x].sim_number[6] and df.iloc[x].sim_number[7] == df.iloc[x].sim_number[8]:
        df.at[x,'repeat'] = 1
    else:
        df.at[x,'repeat'] = 0

In [52]:
df.to_csv(r'E:\BT\sim_train.csv', index=False)